<a href="https://colab.research.google.com/github/Impossiblepretext/Experiment_No.9/blob/main/Experiment_No_9_Panda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Experiment No.9

Title: Panda

Name: Vibhas Shukla

PRN: 25070123164

Batch: F.Y Entc A1

In [ ]:
# Introduction to panda
# Panda: Panel Data
'''  Used for:
structured data
EDA
Data cleaning'''

In [ ]:
import pandas as pd
s= pd.Series([10,20,30,40,50])
s

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [ ]:
# Create a dataframe4
data={"Name":["A","B","C"],"Marks":[85,75,86]}
df=pd.DataFrame(data)
df

  Name  Marks
0    A     85
1    B     75
2    C     86

In [ ]:
df.head(5)
df.tail(5)

  Name  Marks
0    A     85
1    B     75
2    C     86

In [ ]:
#Find the structure of dataframe
df.shape

(3, 2)

In [ ]:
df.size

6

In [ ]:
# Display column names
df.columns

Index(['Name', 'Marks'], dtype='object')

In [ ]:
# check datatypes
df.dtypes

Name     object
Marks     int64
dtype: object

In [ ]:
# Access of Indivisual Column
df["Name"]

0    A
1    B
2    C
Name: Name, dtype: object

In [ ]:
#access specific row
df.iloc[1]

Name      B
Marks    75
Name: 1, dtype: object

In [ ]:
#Add a new column
df["Grade"]=["First Class ","Second class","Disctinction"]

In [ ]:
df

  Name  Marks         Grade
0    A     85  First Class
1    B     75  Second class
2    C     86  Disctinction

In [ ]:
#update data in a DataFrame
# Change marks of student A to 88
df.loc[0,"Marks"]=88
df

  Name  Marks         Grade
0    A     88  First Class
1    B     75  Second class
2    C     86  Disctinction

In [ ]:
#delete a coloumn
df.drop("Grade",axis=1,inplace=True)
df

  Name  Marks
0    A     88
1    B     75
2    C     86

In [ ]:
#perform basic statistical analysis
df["Marks"].mean()

np.float64(83.0)

In [ ]:
df["Marks"].max()

88

In [ ]:
df["Marks"].min()

75

In [ ]:
#apply conditioning
#display students scoring more than 80
df[df["Marks"]>80]

  Name  Marks
0    A     88
2    C     86